# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.db

# Node
node_modules/
dist/
out/
.vite/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
/e2e/screenshots
/screenshots
/.liteeditor
/test-results
/e2e/screenshots
